.slider
    padding: 81px 0
    &__inner
        position: relative
        width: 750px
        margin: 0 auto
    &__dots
        display: flex
        justify-content: center
        margin-bottom: 0
        padding-left: 0
        li
            list-style: none
        .slick-active
            button
                background-color: $main_color
    
        button
            background-color: grey
            margin: 0 20px
            font-size: 0
            width: 10px
            height: 12px
            border-radius: 100%
            border: none


            


    .slick-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -66px
        border: none
        background-color: #fff

    .slick-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: -66px
        border: none
        background-color: #fff
        
    // .tns-item
    //     img
    //         display: block
    //         margin: 0 auto
   